.dotnet-skill {
    width: 85%; 
}

.sql-skill {
    width: 90%; 
}

.mvc-skill {
    width: 80%; 
}

.api-skill {
    width: 85%; 
}

.ef-skill {
    width: 85%; 
}

.micro-skill {
    width: 75%;
}

.pyjava-skill {
    width: 80%;
}

.ut-skill{
    width: 85%;
}

.problemsolving-skill {
    width: 80%; 
}

.datastructures-skill {
    width: 78%;
}

.oops-solid-skill {
    width: 82%;
}

.html-css-js-skill {
    width: 75%; 
}

.angular-skill {
    width: 65%; 
}

.jquery-skill {
    width: 70%; 
}
